@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 52.5%;
  overflow-x: hidden;

  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;

  font-family: 'Jost', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

p {
  margin-bottom: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3.2rem 0 3.2rem;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

h6 {
  font-size: 1rem;
}

a,
button,
li,
p {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

small,
.text_small {
  font-size: 0.667rem;
}

hr {
  background: #000;
  padding: 0;
  height: 1px;
  border: none;
  margin: 1.2rem 0;
}

/**************************/
/* THE ANCHOR ELEMENT & PSEUDO-CLASSES — THE FOUR LINKS STATES */
/**************************/

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover {
  color: #000;
}

a:active {
  color: blue;
  outline: none;
}

/**************************/
/* BUTTON */
/**************************/

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #000;
  color: #fff;
  border-radius: 50px;

  text-decoration: none;
  font-weight: 500;
  padding: 1.2rem 2.2rem;
  text-align: center;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  transition: all 0.2s;
}

.btn,
.btn:hover,
.btn:active {
  background-color: blue;
  color: #fff;
}

/**************************/
/* HEADER & NAVIGATION */
/**************************/

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

.container {
  /* max-width: 120rem; */
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/**************************/
/* GRID REUSABLE */
/**************************/

.grid {
  display: grid;
  gap: 3.2rem;
  row-gap: 3.2rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  border-top: 1px solid #000;
  padding: 1rem 1rem;
  margin-top: 160px;
}

.copyright {
  font-size: 0.8rem;
  margin: 0;
}

/**************************/
/* FORM */
/**************************/

form {
  margin: 30px auto;
  text-align: left;
  border-radius: 10px;
}
label {
  color: #aaa;
  display: inline-block;
  margin: 25px 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 0px 6px;
}
input,
select {
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #999;
  color: #555;
  font-family: inherit;
}
input[type='checkbox'] {
  display: inline-block;
  width: 16px;
  margin: 0 10px 0 0;
  position: relative;
  top: 2px;
}

textarea {
  min-height: 200px;
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #999;
  color: #555;
  font-family: inherit;
  margin: 2rem 0;
}

/**************************/
/* BLOGS AND SINGLE POST */
/**************************/

.post-single {
  border: 1px solid #666;
  padding: 2rem 2rem 2rem 2rem;
  margin: 4rem 0;
}

.title {
  color: #000;
  margin: 2rem 0 0 0;
  min-height: 6rem;
}
.post-tag {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  margin: 2rem 0;
  letter-spacing: 2px;
}

.post-tag--red {
  background-color: #c72988;
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
}

/**************************/
/* Fixing Safari flexbox gap */
/**************************/
